/* page wide styling */

/* https://colorhunt.co/palette/f5f5f5f0545430475e121212 */
/* https://colorhunt.co/palette/e8e8e8f0545430475e222831 */
/* https://colorhunt.co/palette/1919192d4263c84b31ecdbba */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

/* page */

body {
  background-color: #121212;
  overflow: hidden;
}

.container {
  display: flex;
  overflow-x: scroll;
  width: 1514px;
  margin-left: 60px;
}

.title {
  margin-right: 88px;
  margin-bottom: 7px;
  color: #F5F5F5;
  font-family: 'Roboto', sans-serif;
  text-align: right;
}

hr{
  margin-top: -1px;
  width: 800px;
  margin-right: 90px;
  justify-content: center;
}

/* scroll bar */

::-webkit-scrollbar {
  height: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #9D9D9D;
  border-top: 2px solid #121212;
  border-bottom: 2px solid #121212;
}

::-webkit-scrollbar-track-piece {
  background-color: #191919;
}

/* sequencer keys */

ul,
ol,
dd {
  margin: 0;
  padding: 0px;
  list-style: none;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #222831; */
  /* margin-right: 130px; */
}

.note-name {
  font-family: 'Roboto', sans-serif;
  padding: 5.5px;
  min-width: 22px;
  background-color: #E8E8E8;
  margin: 1px;
  margin-left: 0px;
  text-align: center;
}

.sharp-named-note {
  background-color: #191919 ;
  color: #F5F5F5;
}

.key {
  width: 30px;
  min-width: 30px;
  height: 30px;
  min-height: 30px;
  background-color: #F5F5F5;
  margin: 1px;
}

.sharp {
  background-color: #9D9D9D;
}

.pressed {
  background-color: #D7385E;
}

.long{
  background-color: #FAD662;
}

.sticky {
  position: sticky;
  left: 0px
}

/* playback controls */

/* center */

/* .playback-controls {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
} */

/* left */

.playback-controls {
  margin-left: 60px;
  margin-top: 10px;
  justify-content: left;
}

/* play */

.play-button {
  max-width: 60px;
  min-width: 60px;
  margin-right: 30px;
  padding: 5px 10px;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  outline: 0;
  /* color: #fff; */
  background-color: #D7385E;
  border: none;
  border-radius: 3px;
}

.play-button:hover {background-color: #222831; color: white;}

.play-button:active {
  box-shadow: 0 3px black;
  transform: translateY(3px);
}

/* stop */

.stop-button {
  max-width: 60px;
  min-width: 60px;
  margin-right: 30px;
  padding: 5px 10px;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  outline: 0;
  /* color: #fff; */
  background-color: #D7385E;
  border: none;
  border-radius: 3px;
}

.stop-button:hover {background-color: #222831; color: white;}

.stop-button:active {
  box-shadow: 0 3px black;
  transform: translateY(3px);
}

/* clear */

.clear-button {
  max-width: 60px;
  min-width: 60px;
  margin-right: 30px;
  padding: 5px 10px;
  font-size: 25px;
  text-align: center;
  cursor: pointer;
  outline: 0;
  /* color: #fff; */
  background-color: #D7385E;
  border: none;
  border-radius: 3px;
}

.clear-button:hover {background-color: #222831; color: white;}

.clear-button:active {
  box-shadow: 0 3px black;
  transform: translateY(3px);
}

.hide-me {
  visibility: hidden;
  display: none;
  height: 0px;
}