/* page wide styling */

/* https://colorhunt.co/palette/f5f5f5f0545430475e121212 */
/* https://colorhunt.co/palette/e8e8e8f0545430475e222831 */
/* https://colorhunt.co/palette/1919192d4263c84b31ecdbba */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

body {
  background-color: #121212;
}

.container {
  padding: 10px;
  /* background-color: #222831; */
}

/* sequencer keys */

ul,
ol,
dd {
  margin: 0;
  padding: 0px;
  list-style: none;
}

.row {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #222831; */
  /* margin-right: 130px; */
}

.name{
  font-family: 'Roboto', sans-serif;
  padding: 10.5px;
  min-width: 20px;
  background-color: #E8E8E8;
  margin: 1px;
  text-align: center;
}

.origin{
  background-color: #191919 ;
  color: #F5F5F5;
}

.key {
  width: 40px;
  min-width: 40px;
  height: 40px;
  min-height: 40px;
  background-color: #F5F5F5;
  margin: 1px;
}

.sharp {
  background-color: #9D9D9D;
}

.key.pressed {
  background-color: #fe7e6d;
}
